<web-app metadata-complete="true">
  <servlet>
      <servlet-name>Book Resource</servlet-name>
      <servlet-class>com.github.helloiampau.biblio.BookResource</servlet-class>
  </servlet>
  <servlet-mapping>
      <servlet-name>Book Resource</servlet-name>
      <url-pattern>/book/*</url-pattern>
  </servlet-mapping>
    <servlet>
        <servlet-name>Books Resource</servlet-name>
        <servlet-class>com.github.helloiampau.biblio.BooksResource</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Books Resource</servlet-name>
        <url-pattern>/books/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Token Resource</servlet-name>
        <servlet-class>com.github.helloiampau.biblio.TokenResource</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Token Resource</servlet-name>
        <url-pattern>/token/*</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>com.github.helloiampau.biblio.util.DBHandler</listener-class>
    </listener>
    <display-name>Archetype Created Web Application</display-name>
</web-app>
